.DS_Store
.AppleDouble
.LSOverride

xcuserdata/

DerivedData/

*.xcworkspace/
!default.xcworkspace/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

build/
Reports/
Coverage/

*~
*.swp

.idea
AGENTS.md